/*
 *= require store/spree_core
*/

body {
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#4e4e4e;
}
* {
  margin:0px;
  padding:0px;
}
.clr {
  clear:both;
}
ul, li {
  list-style:none;
}
#layout {
  width:990px;
  margin:auto;
}
#header {
	height:25px;
	padding:15px 10px 5px 20px;
	border-bottom:3px solid #dfdfdf;
	position:relative;
	margin-bottom:18px;
}
#header h1{
	font-size:16px;
	font-weight:bold;
	color:#eb5e00;
	position:absolute;
	width:775px;
}
#header .btnArea {
	position:absolute;
	right:0;
}
#header .btnArea input {
	float:left;
	background:url(admin/submit-btn.gif) no-repeat left top;
	width:113px;
	border:none;
	font-family:inherit;
	font-size:12px;
	color:#fff;
	padding:1px 5px 3px 20px;
	text-align:center;
	cursor:pointer;
	}
#header .btnArea input[type="reset"]{
	float:left;
	background:url(admin/reset-btn.gif) no-repeat left top;
	width:55px;
	padding:1px 0px 3px;
	margin-right:10px;
}
#hd-bar {
	background:#6f8992;
	height:16px;
	color:#fff;
	padding:3px 10px 3px 20px;
}
#hd-bar h2 {
	font-size:14px;
	font-weight:bold;
	line-height:16px;
	float:left;
	color:#FFFFFF;
	width:700px;
}
#hd-bar .link {
	float:right;
	}
#hd-bar .link a {
	color:#fff;
}
#hd-bar .link a:hover {
	text-decoration:none;
	}
#contactBox {
	border:1px solid #d6d6d6;
	background:#fafafa;
	padding:20px;
}
#contactBox ul li {
	float:left;
	margin-bottom:10px;
	width:900px;
}
#contactBox ul li label {
	float:left;
	width:300px;
	margin-right:10px;
	margin-top:3px;
	}
#contactBox ul li input {
	font-family:inherit;
	font-size:inherit;
	float:left;
	width:280px;
	padding:3px;
	border:#c8c8c8 1px solid;
}
